body, html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}
form {
  div {
    margin-bottom: 1rem;
  }
  input {
    font-family: Arial, sans-serif;
    padding: .5rem 1rem;
    margin-right: auto;
    // display: block;
  }
}